In [15]:
import pandas as pd

# 1103 is downtown 
# 1201 is malibu 
# Ozone and NO2 negatively correlated


df_1201 = pd.read_csv('/Users/twylazhang/Desktop/PM_2.5_Project/pm25_merged_dataset/df_1201.csv')


df_1201['ozone_Measurement']

0        0.010
1        0.008
2        0.008
3        0.009
4        0.009
         ...
65707    0.050
65708    0.042
65709    0.036
65710    0.025
65711    0.022
Name: ozone_Measurement, Length: 65712, dtype: float64

In [9]:
df_1201['ozone_Measurement']

0        0.010
1        0.008
2        0.008
3        0.009
4        0.009
         ...
65707    0.050
65708    0.042
65709    0.036
65710    0.025
65711    0.022
Name: ozone_Measurement, Length: 65712, dtype: float64

In [13]:
df_1103 = pd.read_csv('/Users/twylazhang/Desktop/PM_2.5_Project/pm25_merged_dataset/df_1103.csv')


df_1103

,Unnamed: 0,datetime,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
0,0,2015-01-01 08:00:00,1103,32.90,1.1620,0.5,49.0,41.2,0.007,46.0
1,2,2015-01-01 09:00:00,1103,32.20,1.2735,0.0,55.0,39.9,0.007,59.0
2,4,2015-01-01 10:00:00,1103,30.70,0.8810,0.3,56.0,39.1,0.006,66.0
3,6,2015-01-01 11:00:00,1103,31.50,0.4940,0.0,47.0,38.0,0.008,54.0
4,8,2015-01-01 12:00:00,1103,30.60,0.3105,0.1,40.0,38.1,0.006,50.0
...,...,...,...,...,...,...,...,...,...,...
65707,131414,2022-07-01 03:00:00,1103,6.85,0.2000,0.0,18.0,67.0,0.032,13.5
65708,131416,2022-07-01 04:00:00,1103,7.95,0.2000,0.0,18.0,67.0,0.029,13.2
65709,131418,2022-07-01 05:00:00,1103,8.40,0.2000,0.0,18.0,67.0,0.026,11.8
65710,131420,2022-07-01 06:00:00,1103,11.95,0.3000,0.0,18.0,67.0,0.021,13.2
65711,131422,2022-07-01 07:00:00,1103,11.25,0.3000,0.2,18.0,67.0,0.021,13.7

In [12]:
df_1103['ozone_Measurement'].describe()

count    65712.000000
mean         0.024876
std          0.018636
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.185000
Name: ozone_Measurement, dtype: float64

In [6]:
# Replace negative ozone measurement values with 0 for both datasets

df_1103['ozone_Measurement'] = df_1103['ozone_Measurement'].clip(lower=0)
df_1201['ozone_Measurement'] = df_1201['ozone_Measurement'].clip(lower=0)



df_1103['ozone_Measurement'].describe()

NameError: name 'df_1103' is not defined

In [7]:
df_1201['ozone_Measurement'].describe()

count    65712.000000
mean         0.024876
std          0.018636
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.185000
Name: ozone_Measurement, dtype: float64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set the style of the visualization
sns.set(style="whitegrid")

# Creating a combined dataset for visualization purposes
df_combined = pd.concat([df_1103[['ozone_Measurement']].assign(Dataset='df_1103'),
                         df_1201[['ozone_Measurement']].assign(Dataset='df_1201')],
                        axis=0)

# Boxplot to display outliers and all points for ozone values
plt.figure(figsize=(10, 6))
sns.boxplot(x='Dataset', y='ozone_Measurement', data=df_combined)
plt.title('Boxplot of Ozone Measurements for Datasets df_1103 and df_1201')
plt.xlabel('Dataset')
plt.ylabel('Ozone Measurement')
plt.show()

In [ ]:
# Calculate the IQR for ozone measurement in df_1103
Q1 = df_1103['ozone_Measurement'].quantile(0.25)
Q3 = df_1103['ozone_Measurement'].quantile(0.75)
IQR = Q3 - Q1

# Define the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df_1103[(df_1103['ozone_Measurement'] < lower_bound) | (df_1103['ozone_Measurement'] > upper_bound)]

# Remove outliers from the dataset
df_1103_filtered = df_1103[(df_1103['ozone_Measurement'] >= lower_bound) & (df_1103['ozone_Measurement'] <= upper_bound)]

# Summary of the filtered dataset
summary_before = df_1103['ozone_Measurement'].describe()
summary_after = df_1103_filtered['ozone_Measurement'].describe()

summary_before, summary_after, outliers.shape[0]

In [ ]:
# Updating the combined dataset for visualization after filtering df_1103
df_combined_updated = pd.concat([df_1103_filtered[['ozone_Measurement']].assign(Dataset='df_1103 (Filtered)'),
                                 df_1201[['ozone_Measurement']].assign(Dataset='df_1201')],
                                axis=0)

# Boxplot to display outliers and all points for ozone values after filtering
plt.figure(figsize=(12, 6))
sns.boxplot(x='Dataset', y='ozone_Measurement', data=df_combined_updated)
plt.title('Boxplot of Ozone Measurements for Datasets After Filtering df_1103')
plt.xlabel('Dataset')
plt.ylabel('Ozone Measurement')
plt.show()

In [ ]:
import numpy as np

# Convert the 'datetime' and 'ozone_Measurement' columns to numpy arrays
datetime_1103 = df_1103_filtered['datetime'].values
ozone_1103 = df_1103_filtered['ozone_Measurement'].values

datetime_1201 = df_1201['datetime'].values
ozone_1201 = df_1201['ozone_Measurement'].values

plt.figure(figsize=(14, 7))

# Plot using numpy arrays
plt.plot(datetime_1103, ozone_1103, label='df_1103 (Filtered)', alpha=0.7)
plt.plot(datetime_1201, ozone_1201, label='df_1201', alpha=0.7, color='red')

plt.title('Line Plot of Ozone Measurements Over Time')
plt.xlabel('Datetime')
plt.ylabel('Ozone Measurement')
plt.legend()
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()