In [2]:
import pandas as pd 
import numpy as np

In [3]:
data1103 = pd.read_csv('df_1103.csv')
data1201 = pd.read_csv('df_1201.csv')

In [8]:
data1103.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65711.000000,1103.0,18.922900,0.428865,0.137238,55.775931,65.802707,0.024876,15.203386
std,37939.129563,0.0,12.180621,0.316351,0.278709,26.521060,9.259292,0.018636,10.879135
min,0.000000,1103.0,0.200000,-0.400000,-0.600000,1.000000,37.700000,0.000000,-6.000000
25%,32855.500000,1103.0,8.800000,0.200000,0.000000,32.000000,59.600000,0.007000,9.000000
50%,65711.000000,1103.0,16.000000,0.300000,0.000000,59.000000,66.800000,0.024000,13.000000
75%,98566.500000,1103.0,27.262500,0.511000,0.200000,80.000000,70.500000,0.038000,19.000000
max,131422.000000,1103.0,80.600000,3.400000,13.400000,100.000000,110.600000,0.185000,541.000000

In [9]:
data1201.describe()

,Unnamed: 0,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
count,65712.000000,65712.0,65712.000000,65712.000000,65712.000000,52332.000000,65712.000000,65712.000000,65712.000000
mean,65712.000000,1201.0,11.950138,0.426555,0.148405,55.779313,66.078211,0.033669,14.602232
std,37939.129563,0.0,9.604563,0.314977,0.290082,26.537391,10.755264,0.021195,10.656137
min,1.000000,1201.0,-4.800000,-0.300000,-0.500000,1.000000,33.800000,-0.001000,-3.700000
25%,32856.500000,1201.0,4.600000,0.200000,0.000000,32.000000,59.200000,0.017000,8.400000
50%,65712.000000,1201.0,8.500000,0.300000,0.000000,59.000000,67.000000,0.034000,12.900000
75%,98567.500000,1201.0,17.500000,0.506000,0.200000,80.000000,71.500000,0.046000,19.000000
max,131423.000000,1201.0,72.500000,2.900000,17.900000,100.000000,117.500000,0.142000,995.600000

Homework for this week:
Preprocessing ozone with Twyla:
-Negative values
-Outliers
-Justify decisions

In [4]:
data1201['ozone_Measurement']=data1201['ozone_Measurement'].apply(lambda x: 0 if x < 0 else x)
#Converting all negative values of ozone to 0
#I chose to do this because the negative values that ozone does have are
#very close to 0

In [9]:
data1201['ozone_Measurement'].describe()

count    65712.000000
mean         0.033669
std          0.021195
min          0.000000
25%          0.017000
50%          0.034000
75%          0.046000
max          0.142000
Name: ozone_Measurement, dtype: float64

In [10]:
#Outliers defined here using IQR
#Takes all outliers and replaces them with the upper or lower bound respective to where they lie outside of the IQR
#Data is the dataset one wishes to clean
#Column name refers to the feature
#Returns a dataset that has been cleaned for outliers
def replace_outliers(data, column_name):
    q1 = np.percentile(data[column_name], 25)
    q3 = np.percentile(data[column_name], 75)
    IQR = q3 - q1
    lower_bound = q1 - 1.5 * IQR
    upper_bound = q3 + 1.5 * IQR

    data[column_name] = np.where(data[column_name] < lower_bound, lower_bound, data[column_name])
    data[column_name] = np.where(data[column_name] > upper_bound, upper_bound, data[column_name])
    
    return data

In [11]:
replace_outliers(data1103, 'ozone_Measurement')
replace_outliers(data1201, 'ozone_Measurement')

,Unnamed: 0,datetime,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
0,1,2015-01-01 08:00:00,1201,35.6,1.3475,0.0,52.0,41.2,0.010,95.0
1,3,2015-01-01 09:00:00,1201,32.6,1.2735,0.4,59.0,39.9,0.008,106.0
2,5,2015-01-01 10:00:00,1201,31.5,0.7075,0.0,53.0,39.1,0.008,123.0
3,7,2015-01-01 11:00:00,1201,30.6,0.3945,0.0,45.0,38.0,0.009,161.0
4,9,2015-01-01 12:00:00,1201,30.6,0.3080,0.0,37.0,38.1,0.009,138.0
...,...,...,...,...,...,...,...,...,...,...
65707,131415,2022-07-01 03:00:00,1201,3.0,0.2000,0.2,18.0,67.0,0.050,11.2
65708,131417,2022-07-01 04:00:00,1201,6.9,0.2000,0.2,18.0,67.0,0.042,13.0
65709,131419,2022-07-01 05:00:00,1201,8.0,0.2000,0.1,18.0,67.0,0.036,15.4
65710,131421,2022-07-01 06:00:00,1201,10.0,0.3000,0.3,18.0,67.0,0.025,15.9
65711,131423,2022-07-01 07:00:00,1201,11.3,0.3000,0.0,18.0,67.0,0.022,15.4

In [12]:
data1103['ozone_Measurement'].describe()

count    65712.000000
mean         0.024848
std          0.018527
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.084500
Name: ozone_Measurement, dtype: float64

In [13]:
data1201['ozone_Measurement'].describe()

count    65712.000000
mean         0.033529
std          0.020764
min          0.000000
25%          0.017000
50%          0.034000
75%          0.046000
max          0.089500
Name: ozone_Measurement, dtype: float64

HW Summary:

All negative values have been replaced with zero. This choice has been made due to all negative values being extremely close to 0, implying some rounding error or error in collecting the data.

All outliers have been identified using the IQR. Outliers have been replaced by upper and lower bounds defined by the IQR. I implemented this method because I felt that I knew how to do it confidently and don't really know any other way.