In [1]:
import pandas as pd
import numpy as np

In [2]:
data1103 = pd.read_csv('/Users/twylazhang/Desktop/PM_2.5_Project/pm25_merged_dataset/df_1103.csv') 
data1201 = pd.read_csv('/Users/twylazhang/Desktop/PM_2.5_Project/pm25_merged_dataset/df_1103.csv')
#data1103 = pd.read_csv('df_1103.csv')
#data1201 = pd.read_csv('df_1201.csv')

In [3]:
#Set all negative values to 0
data1201['ozone_Measurement']=data1201['ozone_Measurement'].apply(lambda x: 0 if x < 0 else x)

In [4]:
data1103['ozone_Measurement'].describe()

count    65712.000000
mean         0.024876
std          0.018636
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.185000
Name: ozone_Measurement, dtype: float64

In [5]:
data1201['ozone_Measurement'].describe()

count    65712.000000
mean         0.024876
std          0.018636
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.185000
Name: ozone_Measurement, dtype: float64

In [6]:
data1103['datetime'] = pd.to_datetime(data1103['datetime'])
data1201['datetime'] = pd.to_datetime(data1201['datetime'])

In [7]:
#Calculates upper and lower bounds based on IQR
#Replaces outliers in the data
#Returns a cleaned dataset
def outlier_processing(data, column_name):
    q1 = np.percentile(data[column_name], 25)
    q3 = np.percentile(data[column_name], 75)
    IQR = q3 - q1
    lower_bound = q1 - 1.5 * IQR
    upper_bound = q3 + 1.5 * IQR

    #Checks if a value is an outlier. If it is, it works to replace it, prioritizing previous hour, then next hour, then previous year, then next year
    #If all of those values are outliers, it replaces it with an upper or lower bound
    #Returns the new value for that row that is no longer an outlier
    def replace_outlier(row):
        nonlocal data, column_name
        index = row.name
        value = row[column_name]
        
        current_time = row['datetime']
        
        if value > upper_bound or value < lower_bound:
            previous_hour = current_time - pd.Timedelta(hours=1)
            if previous_hour in data.index and data.loc[previous_hour, column_name] <= upper_bound and data.loc[previous_hour, column_name] >= lower_bound:
                row[column_name] = data.loc[previous_hour, column_name]
            next_hour = current_time + pd.Timedelta(hours=1)
            if next_hour in data.index and data.loc[next_hour, column_name] <= upper_bound and data.loc[next_hour, column_name] >= lower_bound:
                row[column_name] = data.loc[next_hour, column_name]
            previous_year = current_time - pd.DateOffset(years=1)
            if previous_year in data.index and data.loc[previous_year, column_name] <= upper_bound and data.loc[previous_year, column_name] >= lower_bound:
                row[column_name] = data.loc[previous_year, column_name]
            next_year = current_time + pd.DateOffset(years=1)
            if next_year in data.index and data.loc[next_year, column_name] <= upper_bound and data.loc[next_year, column_name] >= lower_bound:
                row[column_name] = data.loc[next_year, column_name]
            else:
                if value > upper_bound:
                    row[column_name] = upper_bound
                elif value < lower_bound:
                    row[column_name] = lower_bound
        return row

    data = data.apply(replace_outlier, axis=1)
    return data

In [8]:
data1103_clean = outlier_processing(data1103, 'ozone_Measurement')
data1201_clean = outlier_processing(data1201, 'ozone_Measurement')

In [9]:
data1103_clean['ozone_Measurement'].describe()

count    65712.000000
mean         0.024848
std          0.018527
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.084500
Name: ozone_Measurement, dtype: float64

In [10]:
data1201_clean['ozone_Measurement'].describe()

count    65712.000000
mean         0.024848
std          0.018527
min          0.000000
25%          0.007000
50%          0.024000
75%          0.038000
max          0.084500
Name: ozone_Measurement, dtype: float64

In [11]:
def detect_outliers_iqr(df, column_name):
   
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    
    outliers = df[(df[column_name] < lower_bound) | (df[column_name] > upper_bound)]

    num_outliers = outliers.shape[0]
    
    return num_outliers, outliers


num_outliers_1103, outliers_1103 = detect_outliers_iqr(data1103, 'ozone_Measurement')
print(f"Number of outliers detected: {num_outliers_1103}")

outliers_1103

Number of outliers detected: 177

,Unnamed: 0,datetime,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
2823,5646,2015-04-28 23:00:00,1103,12.60,0.7000,0.3,84.0,84.4,0.085,18.0
4070,8140,2015-06-19 22:00:00,1103,14.70,0.5000,0.0,23.0,83.8,0.095,25.0
4071,8142,2015-06-19 23:00:00,1103,14.50,0.4000,0.0,24.0,83.0,0.095,28.0
4072,8144,2015-06-20 00:00:00,1103,13.90,0.5000,0.0,22.0,82.1,0.089,20.0
5437,10874,2015-08-15 21:00:00,1103,14.50,0.2995,0.8,64.0,94.1,0.087,19.0
...,...,...,...,...,...,...,...,...,...,...
64572,129144,2022-05-14 20:00:00,1103,14.80,0.2000,1.5,18.0,67.0,0.138,19.6
64573,129146,2022-05-14 21:00:00,1103,11.20,0.2000,1.2,18.0,67.0,0.116,18.6
64574,129148,2022-05-14 22:00:00,1103,7.55,0.2000,0.0,18.0,67.0,0.095,12.6
64575,129150,2022-05-14 23:00:00,1103,5.70,0.2000,0.4,18.0,67.0,0.087,10.2
65220,130440,2022-06-10 20:00:00,1103,10.85,0.2000,0.0,18.0,67.0,0.087,33.1

In [12]:
num_outliers_1201, outliers_1201 = detect_outliers_iqr(data1201, 'ozone_Measurement')
print(f"Number of outliers detected: {num_outliers_1201}")

outliers_1201

Number of outliers detected: 177

,Unnamed: 0,datetime,AQS_Code,NO2_Measurement,CO_Measurement,SO2_Measurement,RH_Measurement,Temp_Measurement,ozone_Measurement,PM_Measurement
2823,5646,2015-04-28 23:00:00,1103,12.60,0.7000,0.3,84.0,84.4,0.085,18.0
4070,8140,2015-06-19 22:00:00,1103,14.70,0.5000,0.0,23.0,83.8,0.095,25.0
4071,8142,2015-06-19 23:00:00,1103,14.50,0.4000,0.0,24.0,83.0,0.095,28.0
4072,8144,2015-06-20 00:00:00,1103,13.90,0.5000,0.0,22.0,82.1,0.089,20.0
5437,10874,2015-08-15 21:00:00,1103,14.50,0.2995,0.8,64.0,94.1,0.087,19.0
...,...,...,...,...,...,...,...,...,...,...
64572,129144,2022-05-14 20:00:00,1103,14.80,0.2000,1.5,18.0,67.0,0.138,19.6
64573,129146,2022-05-14 21:00:00,1103,11.20,0.2000,1.2,18.0,67.0,0.116,18.6
64574,129148,2022-05-14 22:00:00,1103,7.55,0.2000,0.0,18.0,67.0,0.095,12.6
64575,129150,2022-05-14 23:00:00,1103,5.70,0.2000,0.4,18.0,67.0,0.087,10.2
65220,130440,2022-06-10 20:00:00,1103,10.85,0.2000,0.0,18.0,67.0,0.087,33.1